<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Form</title>
  <link rel="stylesheet"th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="headerFragment :: header" ></div>

<div class="container" >
  <h1>Add new employee</h1>


<form th:action="@{/addEmployee}" th:object="${employeeToAdd}" method="post" enctype="multipart/form-data" >
  <div>

    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" th:field="*{firstName}" required />
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" th:field="*{lastName}" required />
    </div>
    <div>
      <label for="password">password:</label>
      <input type="password" id="password" th:field="*{password}" required />
    </div>
    <div>
      <label for="birthDate">birth Date:</label>
      <input type="date" id="birthDate" th:field="*{birthdate}" required />
    </div>
    <div>
      <label for="matrix">Matricule:</label>
      <input type="text" id="matrix" th:field="*{matrix}" required />
    </div>
    <div>
      <label for="image">Image:</label>
      <input type="file" id="image" name="imageFile" required />
    </div>
    <div>
      <label for="sex">Sex:</label>
      <select th:field="*{sex}" id="sex" >
        <option value="Homme" >Homme</option>
        <option value="Femme" >Femme</option>
      </select>
    </div>
    <div>
      <label for="CountryCode">CountryCode:</label>
      <select th:field="*{countryCode}" id="countryCode" >
        <option value="+261" >+261</option>
        <option value="+33" >+33</option>
        <option value="+1" >+1</option>
      </select>
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="number" id="phone" th:field="*{telephone}" required />
    </div>
    <div>
      <label for="adresse">Adresse:</label>
      <input type="text" id="adresse" th:field="*{adresse}" required />
    </div>
    <div>
      <label for="emailPro">Email Pro:</label>
      <input type="email" id="emailPro" th:field="*{emailPro}" required />
    </div>
    <div>
      <label for="emailPerso">Email Perso:</label>
      <input type="email" id="emailPerso" th:field="*{emailPerso}" required />
    </div>
    <div>
      <label for="cin">CIN:</label>
      <input type="text" id="cin" th:field="*{cin}" required />
    </div>
    <div>
      <label for="child">Child:</label>
      <input type="text" id="child" th:field="*{child}" required />
    </div>
    <div>
      <label for="hiring">Hiring date:</label>
      <input type="date" id="hiring" th:field="*{embaucheDate}" required />
    </div>
    <div>
      <label for="departure">Departure date:</label>
      <input type="date" id="departure" th:field="*{departDate}" />
    </div>
    <div>
      <label for="post">Post:</label>
      <input type="text" id="post" th:field="*{post}" required />
    </div>
    <div>
      <label for="category">Category:</label>
      <input type="text" id="category" th:field="*{category}" required />
    </div>
    <div>
      <label for="cnaps">CNaPS:</label>
      <input type="text" id="cnaps" th:field="*{numeroCnaps}" required />
    </div>


    <button type="submit">Add</button>
  </div>
</form>
</div>
</body>
</html>