<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Form</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form th:action="@{/login}"  method="post" >
      <div>
        <div>
          <label for="firstName" >User Name</label>
          <input type="text" id="firstName" required >
        </div>
        <div>
          <label for="password" >Password</label>
          <input type="password" id="password" required >
        </div>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>